*{
    margin: 0;
    padding: 0;
}

body{
    width: 100vw;
    height: 100vh;
    background-color: #18191f;
    border: 10px solid lightskyblue;
    /* animation: body 3s linear infinite; */
}

.message{
    display: block;
    position: absolute;
    margin-top:150px;
    margin-left: 35%;
    font-size: 3em;
    color: white;
    background-color: #18191f;
    text-shadow: 2px 2px 10px #ff00bf,
    2px 2px 2px #ff00bf, 2px 2px 2px blueviolet,
    2px 2px 2px #ff00bf;
    animation: animate 3s infinite;
}

.item1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: row wrap;
    width: 100vw;
    height: 100vh;
}

#google,#youtube,#chrome,#gpay,#drive,#play{
    font-size: 8em;
    background-color: #18191f;
    color: coral;
    margin: 0 30px;
    box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
    2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
    inset 2px 2px 10px #00000080;
    border-radius: 29px;
    padding: 10px 20px;
    text-shadow: 0 0 50px #ff0095, 0 0 100px blueviolet, 0 0 150px #ff00bf,
    0 0 200px blueviolet;
    animation: animate 3s linear infinite;
}

#google {
    animation-delay: 0.3s;
  }
#youtube {
    animation-delay: 0.7s;
  }
#chrome {
    animation-delay: 0.1s;
  }

#gpay{
    font-size: 8em;
    display: none;
}
.hover:hover{
    transform : scale(1.2);
}
@keyframes body {
    100%{
        background:linear-gradient(to left, 
        blue,
        pink,
         maroon
         );
    }
    /* to{
        background-color: to left,
         red,
          green,
        yellow;
    } */
}

@keyframes animate {
    from{
        filter: hue-rotate(0deg);
    }
    to{
        filter: hue-rotate(360deg);
    }
}
